/*MAIN*/

body {
    font-family: Arial, sans-serif;
}

.navbar{
    margin: 0;
    background-color: #f9f9ff;
    border-bottom: 1px solid #ddd;
}


.nav>li>a.home:focus, .nav>li>a.home:hover {
    background-color: rgba(238, 238, 238, .2);
}

.navbar a {
    color: #444;
}

.navbar a:hover {
    color: #000;
}

.navbar .active {
    background-color: #eee;
}

.jumbotron {
    background-color: #008080;
    color: #fff;
}

h1 {
    font-family: 'Arial Black';
    letter-spacing: -4px;
}

.btn {
    padding: 5px 40px;
}

/*INDEX*/

.description .glyphicon {
    font-size: 5em;
}

.glyphicon-stats {
    color: #00ffa8;
}

.glyphicon-thumbs-up {
    color: #00d7ff;
}

.glyphicon-cloud {
    color: #a2a8a7;
}

/*DASHBOARD*/

.poll .btn {
    width: 180px;
}

.btn-poll {
    padding: 10px 15px;
    font-size: 1.4em;
}

.options {
    margin-top: 10px;
}

.btn-delete,
.btn-results {
    padding: 5px 15px;
    margin-top: -5px;
}

/*MY POLLS*/

li a {
    color: #008080;
}

/*POLL PAGE*/

.pollname {
    margin-top: 0;
}

#pollId {
    display: none;
}
