body {
    font-family: Arial, sans-serif;
}

.navbar{
    margin: 0;
}

.navbar a {
    color: #000;
}

.jumbotron {
    background-color: #008080;
    color: #fff;
}

h1 {
    font-family: 'Arial Black';
    letter-spacing: -4px;
}

.signup {
    padding: 5px 35px;
}

.glyphicon {
    font-size: 5em;
}

.glyphicon-stats {
    color: #00ffa8;
}

.glyphicon-thumbs-up {
    color: #00d7ff;
}

.glyphicon-cloud {
    color: #a2a8a7;
}